/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --black: black;
  --light-grey: #f0f0f0;
  --grey: #ccc;
  --dark-grey: #666;
  --white: white;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

small {
  color: var(--dark-grey);
}
